.contact-container {
  display:flex;
  flex-direction: column;
}

.contact-links {
  display: flex;
  flex-direction: column;
}

.contact-links a div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-links a {
  text-decoration: none;
  color: black;
  font-size: 1.75rem;
}

.contact-links i {
  font-size: 40px;
  margin-right: 10px;
}