.background-container {
  display:grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto;
  grid-template-areas: 
  "title title"
  "image text"
  "image text"
  "resume resume";
}

.background-title {
  grid-area: title;
}

.background-image {
  grid-area: image;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image img {
  width: 100%
}

.background-text {
  grid-area: text;
  padding: 0 0 0 50px;
  text-align: start;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.background-text p {
  font-size: 1.75rem;
  margin: 0;
}

.background-resume {
  grid-area: resume;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 20px;
}

.background-resume i {
  font-size: 40px;
  color: black;
  margin-left: 10px;
}

.background-resume a {
  text-decoration: none;
}

.background-resume a div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-resume a div p {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  margin: 0;
}

