.portfolio-container {
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
    "title description thumbnails links"
    "skills description thumbnails links";
  column-gap: 10px;
  margin-bottom: 50px;
}

.last-item {
  margin: 0;
}

.portfolio-title {
  grid-area: title;
  font-size: 1.75em;
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

.portfolio-skills {
  grid-area: skills;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.portfolio-description {
  grid-area: description;
  text-align: start;
  font-size: 1em;
  display: flex;
  align-items: flex-start;
}

.portfolio-thumbnails {
  grid-area: thumbnails;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.portfolio-thumbnails img {
  max-height: 50px;
}

.portfolio-links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.portfolio-links a {
  text-decoration: none;
  font-size: 1em;
  color: black;
}

